@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: black;
}

#titulo {
    font-family: 'Russo One', sans-serif;
    margin-left: 100px;
    color: aliceblue;
    letter-spacing: 1px;
    border-style: solid;
    width: 38%;
    border-radius: 11px;
    text-align: center;
    border-color: lawngreen;
}

#linha-topo {
    width: 90%;
    border-color: lawngreen;
}


.sobre-mim {
    width: 500px;
    height: 190px;
    float: right;
    padding-top: 50px;
    font-family: "Russo One", sans-serif;
    color: aliceblue;
    line-break: anywhere;
}

.relevancia {
    background-color: lawngreen;
}

#informacoes {
    width: 500px;
    height: 490px;
    float: right;
    padding-right: 160px;
}

#eu {
    width: 700px;
    padding-left: 350px;
    position: absolute;;
}